#myElement {
/*    c#000 */
    color: #000000;
/*    c#0 */
    color: #000000;
/*    c#f4 */
    color: #f4f4f4;

/*    pos:a */
    position: absolute;
/*    pos:r */
    position: relative;
/*    pos:f */
    position: fixed;
/*    pos:s */
    position: static;

/*    t100 */
    top: 100px;
    /*t50p*/
    top: 50%;
    /*l3e*/
    left: 3em;

    /*fl*/
    float: left;
    /*fl:l*/
    float: left;
/*    fl:r*/
    float: right;
    /*fl:n*/
    float: none;

/*    cl*/
    clear: both;
/*    cl:r*/
    clear: right;
    /*cl:l*/
    clear: left;
    /*cl:b*/
    clear: both;
    /*cl:n*/
    clear: none;

    /*d:b*/
    display: block;
    /*d:i*/
    display: inline;
    /*d:ib*/
    display: inline-block;

    /*m*/
    /*margin: ;*/
    /*mr10*/
    margin-right: 10px;
    /*ml20*/
    margin-left: 20px;
    /*mb10*/
    margin-bottom: 10px;
    /*mt1e*/
    margin-top: 1em;

    /*p*/
    /*padding: ;*/
    /*p30*/
    padding: 30px;
    /*pt40*/
    padding-top: 40px;
    /*pl12*/
    padding-left: 12px;

    /*w100*/
    width: 100px;
    /*h50p*/
    height: 50%;
    /*h:a*/
    height: auto;

    /*list:n*/
    list-style-type: none;
    /*list:c*/
    list-style-type: circle;
    /*list:s*/
    list-style-type: square;

    /*ta:l*/
    text-align: left;
    /*ta:r*/
    text-align: right;
    /*ta:j*/
    text-align: justify;

    /*td:n*/
    text-decoration: none;
    /*td:u*/
    text-decoration: underline;


}
